// Removing profile visibility settings
#buddypress {
	position: relative;
	
	div {
		&.dir-search {
			float: none;
			margin-top: 0;

			input[type=text] { width: 100%; }
		}

		&#item-header div#item-header-content {
			small { white-space: nowrap; }

			h2 a { color: #000; }

			h5 a { word-break: break-all; }

			span, h6 {
				margin-bottom: 0;
				color: #6f6f6f;
			}
		}

		&.item-list-tabs#subnav {
			.my-activity & { margin-bottom: 40px; }

			.feed { display: none; }
		}
	}

	.standard-form div.radio {
		label input[type="radio"] { margin-right: 5px; margin-bottom: 0; }

		ul {
			list-style-type: none;

			li {
				position: relative;

				&:before {
					position: absolute;
					left: -1em;
					content: "\2013";
				}
			}
		}
	}

	ul.item-list li div {
		&.item-count {
			font-size: .9em;
			margin-top: 4px;
		}

		&.item-desc p { margin-bottom: 0; }

		&.action { opacity: .5; }
	}

	table {
		input[type="checkbox"] { margin-bottom: 0; }

		&#message-threads tr td {
			.activity { display: block; }
		}

		img.avatar {
			float: left;
			margin-right: 1em;
		}
	}

	span {
		&.department {
			font-size: small;
			opacity: .8;
		}
	}

	.notification-settings {
		width: 100%;
		max-width: 700px;
	}

	#item-body {
		.entry-title { margin-top: 20px; }
	}

	form {
		&#whats-new-form {
			p.activity-greeting { display: none; }

			#whats-new-submit { margin-top: 0; }
		}
	}

	a.activity-time-since { display: block; }

	#activity-stream p {
		margin: 0;
		line-height: 1.5;
	}

	.activity-list li.mini .activity-avatar img {
		&.FB_profile_pic, &.avatar {
			width: auto;
			height: auto;
			margin-left: 0;
		}
	}
}

#search-message-form {
	position: relative;
	min-width: 260px;

	input { height: 36px; }

	#messages_search_submit {
		position: absolute;
		right: 0;
		top: 0;

	}
}

#members-directory-form {
	div {
		&.item-list-tabs {
			&#subnav {
				position: absolute;
				right: 0;
				top: 0;
				margin: 0;
				width: 50%;
				text-align: right;

				ul li.last {
					margin-top: 0;
				}
			}
		}
	}

	ul.item-list li {
		padding: 15px;

		&.odd { background: rgba( 255, 255, 255, 0.5 ); }
		
		div.action {
			.generic-button { float: left; margin-right: 15px; }
		}
	}

	#members-all { display: none; }
	
	span.department {
		font-size: small;
		opacity: .8;
	}
}

#members-group-list {
	ul.item-list li img.avatar { margin-bottom: 10px; }
}

ul.acfb-holder li {
	margin: 0 !important;
	width: 100%;

	input { clear: both; }

	&.friend-tab { width: auto; }
}

.groups-members-search { width: 100%; }

#item-body { position: relative; }

// Selects
// #members-order-select, #groups-order-select, #group_members-order-select, #activity-filter-select {
.filter, #activity-filter-select {
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	max-width: 50%;
	margin-top: 0 !important;

	label {
		display: inline;
		padding-right: 4px;
	}

	.bbp-user-page & { top: 20px; }

	.my-account & { top: 55px; }

	.my-activity &, .my-friends &, .notifications & { top: 0; }

	.group-home & { top: -45px; }
}

#profile-edit-form {
	> h4, .field-visibility-settings-notoggle { display: none; }
}

.profile, .bp-user, .groups.single-item {
	.page-header { display: none; }
}

.groups.single-item {
	#item-header-content {
		p { margin-bottom: 8px; }
	}
}

#search-members-form, #search-groups-form, #events-search-wrap {
	position: relative;
	margin-bottom: 20px;
	width: 50%;

	label { margin-bottom: 0; }

	input {
		height: 36px;
		margin-bottom: 0;
	}

	input[type="text"] { padding: 0 10px !important; }

	input[type="submit"] {
		width: 75px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

#member-list {
	h5 { margin: 0; }
}

.search-results {
	#members-dir-list {
		margin-bottom: 40px;

		.pagination { display: none; }
	}
}

@media only screen and (max-width: 48.75em) {
	#members-directory-form div.item-list-tabs#subnav, #groups-order-select {
		position: static;
		width: 100%;
		text-align: left;
		left: 0;
	}

	#search-members-form { width: 100%; }

	#buddypress div.message-search, #groups-order-select {
		float: left !important;
		clear: both;
		margin: 20px 10px 0 !important;
	}
}