
@mixin blue-button {
	font-size: 0.875rem;
	background: #2e69ac;
	border: none;
	color: #fff;
	transition: background-color 300ms ease-out;
}

@mixin blue-button-hover {
	background: #25548a !important;
	border: none;
	color: #fff;
}

@mixin blue-button-disabled {
	border: none;
	color: #fff;
}

// Removing profile visibility settings
#buddypress {
	position: relative;
	
	div {
		&.dir-search {
			float: none;
			margin-top: 0;

			input[type=text] {
				width: 100%;
				background: #fff;
				font-size: 0.875rem;
			}
		}

		&#item-header {
			div#item-header-avatar {
				float: left;

				@media (min-width: 480px) {
					.groups & { margin-right: -215px; }

					.profile & { margin-right: -165px; }
				}
			}

			div#item-header-content {
				@media (min-width: 480px) {
					.groups & { margin-left: 215px; }

					.profile & { margin-left: 165px; }
				}

				small { white-space: nowrap; }

				h2 a { color: #000; }

				h5 a {
					white-space: pre-wrap;
					word-break: break-all;
					word-wrap: break-word;
				}

				span, h6 {
					margin-bottom: 0;
					color: #6f6f6f;
				}

				.activity {
					font-size: 0.875rem;
					line-height: 1.5;
					color: $grey;
					margin-bottom: 0;
				}

				.email, .status-update {
					font-size: 1rem;
					line-height: 1.5;
					margin-bottom: 0;
				}
			}
		}

		&.item-list-tabs {
			ul li {
				a span {
					border: none;
					padding: 2px 6px;
				}

				&.current, &.selected {
					a { color: $dark-grey; }
				}
			}

			&#subnav {
				.my-activity & { margin-bottom: 40px; }

				.feed { display: none; }
			}
		}

		&#item-header { margin-bottom: 1em; }

		&#invite-list { padding: 15px 10px; }

		&.activity-meta a { margin-bottom: 0; }

		&.activity-comments {
			> ul { padding-top: 10px; }

			form.ac-form { padding: 10px 0; }

			div.acomment-meta, div.acomment-content { font-size: 0.875rem; }
		}

		&.pagination {
			.pagination-links {
				a, span { font-size: 0.875rem; }
			}

			.pag-count {
				font-size: 0.875rem;
				margin-left: 0;
			}
		}

		&.profile h4 { margin-bottom: 10px; }
	}

	.acomment-options a { font-size: 0.875rem; }

	.standard-form {
		#invite-list label {
			padding-left: 18px;
			position: relative;
			margin-bottom: 8px;
			word-wrap: break-word;
			hyphens: auto;

			input {
				position: absolute;
				left: 0;
				top: 5px;
			}
		}

		div.radio {
			label input[type="radio"] { margin-right: 5px; margin-bottom: 0; }

			ul {
				list-style-type: none;

				li {
					position: relative;

					&:before {
						position: absolute;
						left: -1em;
						content: "\2013";
					}
				}
			}
		}
	}

	ul.item-list li {
		div.item-title, h4 {
			font-size: 1rem;
			line-height: 1.5rem;
		}

		div {
			&.item-count {
				font-size: 0.875rem;
				margin-top: 0;
			}

			&.item-desc {
				margin-left: 90px;

				p {
					margin-bottom: 0;
					color: $dark-grey;
					font-size: 0.875rem;
				}
			}

			&.action {
				.generic-button {
					display: inline-block;
					margin-left: 1rem;
				}
			}

			&.item-title span.update { display: none; }

			&.meta {
				.item-type {
					color: $grey;
					font-size: 0.875rem;
				}
			}
		}
	}

	table {
		input[type="checkbox"] { margin-bottom: 0; }

		&#message-threads tr td {
			.activity { display: block; }
		}

		img.avatar {
			float: left;
			margin-right: 1em;
		}
	}

	span {
		&.department {
			font-size: 0.875rem;
			font-size: $dark-grey;
		}

		&.activity {
			font-size: 0.875rem;
			color: $grey;
			opacity: 1;

			.directory & { color: $grey; }
		}
	}

	.notification-settings {
		width: 100%;
		max-width: 700px;
	}

	#item-body {
		.entry-title { margin-top: 20px; }
	}

	form {
		&#whats-new-form {
			p.activity-greeting { display: none; }

			#whats-new-submit { margin-top: 0; }
		}
	}

	a.view.activity-time-since {
		display: block;
		font-size: 0.875rem;
	}

	div#message p { margin-top: 1em; }

	#activity-stream {
		p {
			margin: 0;
			line-height: 1.5;
		}
	}

	.activity-list li {
		font-size: 0.875rem !important;

		.activity-avatar img {
			&.FB_profile_pic, &.avatar {
				width: auto;
				height: auto;
				margin-left: 0;
			}
		}
	}

	div.activity-comments>ul { padding-left: 0; }

	#reply-title small a, a.bp-primary-action {
		span {
			background: #25548a;
			border-radius: 50%;
			padding: 2px 6px;
			font-size: 80%;
		}
		
		&:hover span { background: #25548a; }
	}
	
	// Default button
	.comment-reply-link, .generic-button a, a.button, button { @include blue-button; }
	input {
		&[type="button"], &[type="reset"], &[type="submit"] { @include blue-button; }
	}
	ul.button-nav li a { @include blue-button; }

	a.bp-title-button { @include blue-button; }


	// Hover state
	.comment-reply-link, button, div.generic-button a {
		&:hover { @include blue-button-hover; }
	}

	a.button {
		&:focus, &:hover { @include blue-button-hover; }
	}

	input {
		&[type="button"], &[type="reset"], &[type="submit"] {
			&:hover, &:focus, &:active {
				@include blue-button-hover;
			}
		}
	}

	ul.button-nav li {
		a:hover, &.current a { @include blue-button-hover; }
	}


	// Disabled state
	a.disabled { @include blue-button-disabled; }
	button {
		&.disabled, &.pending { @include blue-button-disabled; }
	}
	div.pending a { @include blue-button-disabled; }
	input {
		&[type="submit"] {
			&[disabled=disabled] { @include blue-button-disabled; }
		}
		&[type="button"], &[type="reset"], &[type="submit"] {
			&.disabled, &.pending { @include blue-button-disabled; }
		}
	}

	
	// Input background
	.dir-search input {
		&[type=search], &[type=text] { background: #fff; }
	}
	.groups-members-search input {
		&[type=search], &[type=text] { background: #fff; }
	}
	.standard-form {
		input {
			&[type=color], &[type=date], &[type=datetime-local], &[type=datetime], &[type=email], &[type=month], &[type=number], &[type=password], &[type=range], &[type=search], &[type=tel], &[type=text], &[type=time], &[type=url], &[type=week] { background: #fff; }
		}
		select, textarea { background: #fff; }

		input, select, textarea {
			&:focus { background: #fff; }
		}

		label, span.label {
			font-size: 1rem;
			line-height: 1.5rem;
			color: $dark-grey;
		}

		div.submit input { font-size: 0.875rem; }
	}
}

.button-banner, .button {
	&:hover, &:focus { @include blue-button-hover; }
}


#close-notice { float: right; }


#search-message-form {
	position: relative;
	min-width: 260px;

	input { height: 36px; }

	#messages_search_submit {
		position: absolute;
		right: 0;
		top: 0;

	}
}

#members-directory-form {
	div {
		&.item-list-tabs {
			&#subnav {
				position: absolute;
				right: 0;
				top: 0;
				margin: 0;
				width: 50%;
				text-align: right;

				ul li.last {
					margin-top: 0;
				}
			}
		}
	}

	ul.item-list li {
		padding: 15px;

		&.odd { background: rgba( 255, 255, 255, 0.5 ); }
		
		div.action {
			.generic-button {
				margin-right: 15px; // leave space on the right
				margin-left: 0;
			}
		}
	}
}

#members-group-list {
	ul.item-list li img.avatar { margin-bottom: 10px; }
}

ul.acfb-holder li {
	margin: 0 !important;
	width: 100%;

	input { clear: both; }

	&.friend-tab { width: auto; }
}

.groups-members-search { width: 100%; }

#item-body { position: relative; }

// Selects
.filter, #activity-filter-select {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	width: 100%;
	max-width: 260px;
	margin-top: 0 !important;

	label {
		display: inline;
		padding-right: 4px;
	}

	.bbp-user-page & { top: 20px; }

	.my-account & { top: 58px; }

	.group-home &, .activity & { top: -45px; }

	.my-activity &, .my-friends &, .my-groups &, .notifications & { top: 0; }
}

#profile-edit-form {
	> h4, .field-visibility-settings-notoggle { display: none; }
}

.profile, .bp-user, .groups.single-item {
	.page-header { display: none; }
}

.groups.single-item {
	#item-header-content {
		p { margin-bottom: 8px; }
	}
}

#search-members-form, #search-groups-form, #events-search-wrap {
	position: relative;
	margin-bottom: 20px;
	width: 50%;

	label { margin-bottom: 0; }

	input {
		height: 36px;
		margin-bottom: 0;
	}

	input[type="text"] { padding: 0 10px !important; }

	input[type="submit"] {
		font-size: 0.875rem;
		width: 75px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

#member-list {
	h5 { margin: 0; }
}

.directory #members-dir-list { padding-top: 10px; }

.search-results {
	#members-dir-list, #groups-dir-list {
		margin-bottom: 40px;

		.pagination { display: none; }
	}
}

@media only screen and (max-width: 48.75em) {
	#members-directory-form div.item-list-tabs#subnav, .filter, #activity-filter-select {
		position: static;
		width: 100%;
		text-align: left;
		float: left;
		left: 0;
	}

	#search-members-form { width: 100%; }

	#buddypress div.message-search, #groups-order-select {
		float: left !important;
		clear: both;
		margin: 20px 10px 0 !important;
	}
}

#members-list .vcard { display: block; }
