
.single-document {
	.download-link {
		display: block;
		position: relative;
		padding-left: 28px;

		i, .icon {
			position: absolute;
			left: 0;
			top: 5px;
		}

		.icon {
			display: block;
			width: 20px;
			height: auto;
			top: 6px;

			&.pdf, &.document { top: 5px; }
		}
	}
}
