
#bbpress-forums {
	overflow: visible;

	> #subscription-toggle {
		float: right;
		font-size: 1rem;
		font-weight: bold;

		.button { margin-top: -10px; }
	}

	#buddypress {
		display: inline-block;
		
		.item-list-tabs {
			margin-bottom: 10px;
			margin-left: -10px;
			font-size: 1rem;
		}
	}

	div {
		&.bbp-template-notice {
			img.avatar { margin-bottom: 0; }
		}

		&.bbp-reply-author {
			img.avatar { margin-bottom: 10px; }

			a.bbp-author-name { font-size: 0.8125rem; }

			br { display: none; }
		}

		&.bbp-reply-header {
			border-top: none;
			border-bottom: 1px solid #ddd;
			background-color: transparent;

			.bbp-reply-post-date {
				font-size: 0.875rem;
			}
		}

		&.bbp-reply-content {
			padding-bottom: 0;

			p { font-size: 1rem; }
		}

		&.reply.even + .bbp-reply-header {
			background-color: #fff;
		}

		&.bbp-search-form { display: none; }

		&.bbp-user-subscriptions {
			.bbp-forum-info {
				a.subscription-toggle.button { margin: 5px 10px 5px 0; }

				.bbp-row-actions { display: inline-block; }

				.bbp-forum-content {
					margin: 10px 0;
					padding-left: 42px;
				}
			}
		}
	}

	li {
		&.bbp-header, &.bbp-footer, &.bbp-header ul li {
			font-size: 1rem;
			line-height: 1.5;	
		}

		&.bbp-footer { border-top: none; }

		&.bbp-topic-freshness, &.bbp-forum-freshness { font-size: 0.875rem; }
	}

	.bbp-author-name {
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
		font-size: 0.8125rem;
	}

	p {
		&.bbp-topic-meta {
			img.avatar { margin-bottom: 0; }
		}
	}

	.bbp-forum-title, .bbp-forum-link, .bbp-topic-title > .bbp-topic-permalink { font-size: 1rem; }

	.bbp-forum-info .bbp-forum-content, p.bbp-topic-meta { font-size: 0.875rem; }

	.bbp-forums-list li {
		display: block;
		margin-bottom: 5px;
	}

	.bbp-user-section p {
		font-size: 1rem;
		line-height: 1.5;
	}

	.bbp-reply-form {
		clear: both;

		.bbp-form .bbp-form {
			border: none;
			padding: 0;
			
			legend {
				display: none;
			}
		}
	}

	fieldset.bbp-form legend {
		font-size: 1rem;
		line-height: 1.5;
	}
}

li {
	&.bbp-forum-topic-count, &.bbp-topic-voice-count, &.bbp-forum-reply-count, &.bbp-topic-reply-count {
		font-size: 0.875rem;
	}
}

.bbp-rc-reply-is-reported {
	p { margin-bottom: 10px; }
	
	em { font-size: .8em; }
}

.topics-navigation {
	font-size: 1rem;
	margin-bottom: 0;

	a {
		margin-right: 1em;

		&.right {
			margin-right: 0;
			margin-left: 1em;
		}
	}
}

.bbp-pagination {
	float: right;
	width: auto;

	.bbp-pagination-count { display: none; }
}

div.bbp-breadcrumb {
	float: none;
	font-size: 0.875rem;
	color: $grey;
	margin-top: 1rem;

	#bbpress-forums & { display: none; }

	p { margin: 0; }

	.bbp-breadcrumb-current { color: $dark-grey; }
}

.bbp-reply-content #subscription-toggle { display: none; }
