#bbpress-forums {
	> #subscription-toggle {
		float: right;
		font-size: 1rem;
		font-weight: bold;
	}

	div {
		&.bbp-template-notice {
			img.avatar { margin-bottom: 0; }
		}

		&.bbp-reply-content {
			p { font-size: 1rem; }
		}

		&.bbp-reply-author {
			.bbp-author-role { display: none; }
		}

		&.bbp-search-form { display: none; }
	}

	p {
		&.bbp-topic-meta {
			img.avatar { margin-bottom: 0; }
		}
	}

	.bbp-forum-title, .bbp-forum-link, .bbp-topic-title > .bbp-topic-permalink { font-size: 1rem; }
}

.topics-navigation {
	font-size: 1rem;
	margin-bottom: 15px;
}

.bbp-pagination { display: none; }