
.site-header {
	.dropdown:before { left: 40px; }

	.top-bar {
		.menu > .active > a:before { display: none; }

		.button-search {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
		}
	}

	&.menu-full-width {
		.top-bar-section { position: static; }

		.logo img { max-width: 140px; }

		.top-bar {
			div { float: none; }

			ul {
				> li {
					background: none;
					margin-bottom: 0;
				}
			}

			.top-bar-section > ul > li > a { padding: 15px; }

			.button-search {
				margin: 0;
				position: absolute;
				right: 0;
				top: 14px;
				line-height: 1;
			}
		}

		.dropdown { top: 55px; }
	}

	.site-title {
		margin-bottom: 0;
		margin-top: 50px;
		font-weight: 700;
	}
}

@media only screen and (max-width: 48.6875em) {
	.site-header .top-bar {
		&.active {
			max-height: none;
			margin-bottom: 0;
		}

		ul { margin-bottom: 0; }
	}
}
