
.widget_subpages {
	.widget_subpages_current_page {
		> a { font-weight: bold; }
	}

	li > ul { margin-top: 4px; }
}

.sidebar { margin-top: 45px; }

.secondary-sidebar {
	margin-top: 45px;

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.blog .widget-area { margin-top: 0; }

.widget_co_downloads_widget {
	margin-bottom: 40px;
	padding-top: 6px;

	h2.widgettitle {
		margin-bottom: 22px;
	}

	li {
		margin-bottom: 8px;

		a {
			display: block;
			padding-left: 22px;
			position: relative;

			.fa, .icon {
				position: absolute;
				left: 0;
				top: 4px;
			}

			.icon {
				display: block;
				width: 16px;
				height: auto;
				top: 5px;

				&.pdf, &.document { top: 4px; }
			}
		}
	}
}

h2.widgettitle {
	font-size: 1.5rem;
	margin-top: 0;
	line-height: 1.2;
	margin-bottom: 0.625rem;
}
